#let(menuId = Request(parameter: "id"))

#let(detail = [
    "title": "Menu item",
    "key": "frontend.menu.items",
    "list": [
        "title": "Menu items",
        "url": "/admin/frontend/menus/" + menuId + "/items/"
    ]
])

#define(details):
<dl>
    <dt>Id</dt>
    <dd>#(model.id)</dd>
    
    <dt>Icon</dt>
    <dd>#if(model.icon != nil):#svg(model.icon)#endif</dd>

    <dt>Label</dt>
    <dd>#(model.label)</dd>

    <dt>Url</dt>
    <dd>#(model.url)</dd>

    <dt>Target</dt>
    <dd>Open in #(model.targetBlank == "true" ? "new" : "same" ) window / tab</dd>
    
    <dt>Permission</dt>
    <dd>#(model.permission)</dd>

</dl>
#enddefine
#inline("Admin/Detail")
