#let(form = [
    "id": formId,
    "token": formToken,
    "title": "Metadata",
    "key": "frontend.metadatas",
    "modelId": modelId,
    "multipart": true,
    "delete": false,
    "list": [
        "title": "Metadatas",
        "url": "/admin/frontend/metadatas/"
    ],
    "nav": []
])

#if(modelId != nil):
    #(form.nav.append(["label": "Preview", "link": fields.slug.value.safePath(), "targetBlank": true]))
    #(form.nav.append(["label": "Reference", "link": "/admin/" + fields.module.value + "/" + fields.model.value + "/" + fields.reference.value + "/update/"]))
#endif

#define(fields):
    #var(field = nil)

<fieldset>
    <legend>Information</legend>

    #(field = ["id": "image", "class": "large", "data": fields.image, "accept": "image/jpeg"])
    #inline("Common/Fields/File")
    
    #(field = ["id": "title", "data": fields.title])
    #inline("Common/Fields/Text")

    #(field = ["id": "excerpt", "size": "s", "data": fields.excerpt])
    #inline("Common/Fields/Textarea")
    
    
    #(field = ["id": "date", "more": fields.dateFormat, "data": fields.date])
    #inline("Common/Fields/Text")
</fieldset>

<fieldset>
    <legend>SEO</legend>

    #(field = ["id": "slug", "data": fields.slug])
    #inline("Common/Fields/Text")

    #(field = ["id": "statusId", "label": "Status", "data": fields.statusId])
    #inline("Common/Fields/Selection")

    #(field = ["id": "feedItem", "label": "Feed item", "placeholder": "Include in Atom / RSS feeds", "data": fields.feedItem])
    #inline("Common/Fields/Checkmark")
    
    #(field = ["id": "canonicalUrl", "label": "Canonical URL", "required": false, "data": fields.canonicalUrl])
    #inline("Common/Fields/Text")
</fieldset>

#if(!fields.filters.options.isEmpty()):
<fieldset>
    <legend>Content</legend>
    #(field = ["id": "filters", "label": "Filters (if nothing is selected, <a href=\"/admin/frontend/settings/#content\">site</a> filters will be used)", "data": fields.filters])
    #inline("Common/Fields/Checkbox")
</fieldset>
#endif

<fieldset>
    <legend>Code injection</legend>

    #(field = ["id": "css", "label": "CSS", "size": "s", "data": fields.css])
    #inline("Common/Fields/Textarea")

    #(field = ["id": "js", "label": "JavaScript", "size": "s", "data": fields.js])
    #inline("Common/Fields/Textarea")
</fieldset>


<fieldset class="hidden">
    <legend>Reference</legend>

    #(field = ["id": "module", "required": true, "data": fields.module])
    #inline("Common/Fields/Text")
    
    #(field = ["id": "model", "required": true, "data": fields.model])
    #inline("Common/Fields/Text")
    
    #(field = ["id": "reference", "label": "Identifier", "required": true, "data": fields.reference])
    #inline("Common/Fields/Text")
</fieldset>

#enddefine

#inline("Admin/Form")
