#let(detail = [
    "title": "Metadata",
    "key": "frontend.metadatas",
    "delete": false,
    "list": [
        "title": "Metadatas",
        "url": "/admin/frontend/metadatas/"
    ]
])
#define(details):
<dl>
    <dt>Id</dt>
    <dd>#(model.id)</dd>
    
    <dt>Title</dt>
    <dd>#(model.title)</dd>
    
    <dt>Excerpt</dt>
    <dd>#(model.excerpt)</dd>
    
    <dt>Date</dt>
    <dd>#Date(timeStamp: model.date, fixedFormat: $app.dateFormats.full, timeZone: $app.timezone)</dd>

    <dt>Slug</dt>
    <dd>#(model.slug)</dd>
    
    <dt>Status</dt>
    <dd>#(model.status)</dd>
    
    <dt>Include in RSS?</dt>
    <dd>#(model.feedItem)</dd>
    
    <dt>Canonical URL</dt>
    <dd>#(model.canonicalUrl)</dd>

    <dt>Filters</dt>
    <dd>
        #for(filter in model.filters):
            #(filter)<br>
        #endfor
    </dd>
    
    <dt>CSS</dt>
    <dd>#(model.css)</dd>
    
    <dt>JS</dt>
    <dd>#(model.js)</dd>
    
    <dt>Module</dt>
    <dd>#(model.module)</dd>
    
    <dt>Model</dt>
    <dd>#(model.model)</dd>
    
    <dt>Reference</dt>
    <dd>#(model.reference)</dd>
</dl>
#enddefine
#inline("Admin/Detail")
