#let(detail = [
    "title": "Menu",
    "key": "frontend.menus",
    "list": [
        "title": "Menus",
        "url": "/admin/frontend/menus/"
    ],
    "actions": [
        ["name": "Menu items", "link": "/admin/frontend/menus/" + model.id + "/items/"]
    ]
])

#define(details):
<dl>
    <dt>Id</dt>
    <dd>#(model.id)</dd>

    <dt>Key</dt>
    <dd>#(model.key)</dd>

    <dt>Name</dt>
    <dd>#(model.name)</dd>

    <dt>Notes</dt>
    <dd>#(model.notes)</dd>
</dl>
#enddefine
#inline("Admin/Detail")
