#let(detail = [
    "title": "Menu",
    "key": "frontend.menus",
    "list": [
        "title": "Menus",
        "url": "/admin/frontend/menus/"
    ]
])

#define(toolbarRightBefore):
    <a href="/admin/frontend/menus/#(model.id)/items/">#svg("link")</a>
#enddefine

#define(details):
<dl>
    <dt>Id</dt>
    <dd>#(model.id)</dd>

    <dt>Key</dt>
    <dd>#(model.key)</dd>

    <dt>Name</dt>
    <dd>#(model.name)</dd>

    <dt>Notes</dt>
    <dd>#(model.notes)</dd>
</dl>
#enddefine
#inline("Admin/Detail")
