#let(detail = [
    "title": "Page",
    "key": "frontend.pages",
    "list": [
        "title": "Pages",
        "url": "/admin/frontend/pages/"
    ]
])

#define(details):
    <dl class="text-align-center">
        <dt>Id</dt>
        <dd class="margin-horizontal-zero margin-bottom">#(model.id)</dd>

        <dt>Title</dt>
        <dd class="margin-horizontal-zero margin-bottom">#(model.title)</dd>
        
        <dt>Content</dt>
        <dd class="margin-horizontal-zero margin-bottom">#(model.content)</dd>

    </dl>
#enddefine
#inline("Admin/Detail")
