#let(head = [
    "title": $system.variables["frontend.page.not.found.title"],
    "excerpt": $system.variables["frontend.page.not.found.excerpt"]
])
#define(body):
<div class="lead container center">
    <span class="icon">#($system.variables["frontend.page.not.found.icon"])</span>
    <h1>#($system.variables["frontend.page.not.found.title"])</h1>
    <p>#($system.variables["frontend.page.not.found.excerpt"])</p>
    <a href="/">#($system.variables["frontend.page.not.found.link"])</a>
</div>
#enddefine
#inline("Frontend/Index")
